name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: Tusharthapa12
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg

      - name: Push snake files
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: output
          folder: dist
